* {
  box-sizing: border-box;
}
body {
  background-color: rgb(230, 239, 204);
  font-family: fantasy;
}

.headline {
  color: blue;
  border: solid blue thick;
  border-top: none;
  background-color: grey;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0px 0px 50px 0px;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: pink;
}
a:visited {
  color: blue;
}
.selfpic {
  width: 200px;
  height: 200px;
  size-adjust: auto;
  position: relative;
  top: 60px;
  border-radius: 20px;
  border: solid blue thick;
}
.piccap {
  font-size: smaller;
  text-align: center;
  border: none;
}
.navi {
  border: solid blue thick;
  background-color: grey;
  border-radius: 10px;
  width: 55%;
  height: auto;
  padding: 10px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  left: 300px;
  top: 200px;
  list-style: none;
  font-size: large;
}
.codepen {
  width: 200px;
}
.github {
  width: 100px;
}
.gmail {
  width: 100px;
}
.hobbylist {
  list-style-type: square;
}
.header2 {
  color: blue;
}
.button {
  background-color: pink;
  position: fixed;
  bottom: 25px;
  left: 50%;
  display: flex;
  justify-content: center;
  border: solid blue;
  border-radius: 20px;
  color: blue;
}
.button:hover {
  background-color: rgb(244, 138, 156);
}
